<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3><%= basicGameData.vTeam.triCode %></h3>
    <span><%= basicGameData.vTeam.score %></span>
    <h3><%= basicGameData.hTeam.triCode %></h3>
    <span><%= basicGameData.hTeam.score %></span>
    <hr>
</body>
</html>